<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body> 
    <div class="container">
    <h1>Alferraserati</h1>
    <h2>O maior especialista em carros esportivos italianos</h2>
    <img src="{{ url_for('static', filename='img/ferraripic.jpg') }}" alt="Foto Carro" class="img">
    <p>Trabalhamos somente com as marcas Alfa Romeo, Ferrari e Maserati</p><br>
    <a href="/cadastrar_carro" class="btn-cadastropage">Cadastrar Carro</a>
    <a href="/lista" class="btn-lista">Ver Lista de Carros</a>
    </div>
</body>
</html>
